[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "*"
nltk = "*"
pytest = "*"
usaddress = "*"
en-core-web-trf = {file = "https://huggingface.co/spacy/en_core_web_trf/resolve/main/en_core_web_trf-any-py3-none-any.whl"}
transformers = "*"

[dev-packages]

[requires]
python_version = "3.12"
